/* Custom CSS */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg, #b3d8d3 8.75%, #bedfcd 8.75%, #bedfcd 41.25%, #b3d8d3 41.25%, #b3d8d3 58.75%, #bedfcd 58.75%, #bedfcd 91.25%, #b3d8d3 91.25%);
    background-size: 100px 100px;
    background-position: 0 0;
}

.card {
    box-shadow: 2px 2px 5px rgba(10,10,10,0.3);
}

header h1 {
    color:rgb(46, 106, 235); 
    font-family: 'Lobster', cursive;
}

.navName {
    background-color: rgb(46, 106, 235);
    padding-left: 8px;
    padding-right: 8px;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 50px;
    line-height: 45px;
    padding: 0 10px;
    background-color: rgb(121, 121, 121);
    color: rgb(200,200,200);
    border-top: 5px solid rgb(46, 106, 235);
}